<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bashavara.com</title>

    <!-- Bootstrap Core CSS -->
    <link href=" <?php echo e(asset('/css/bootstrap.min.css')); ?>" rel="stylesheet">

    <!-- Custom CSS -->
    <link href=" <?php echo e(asset('/css/bashavara.css')); ?>" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Bashavara</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#">Register</a>
                    </li>
                    <li>
                        <a href="#">LogIn In</a>
                    </li>
                    <li>
                        <a href="<?php echo e(URL::to('/PostAd')); ?>">Post Add</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <div class="container">   
      <form class="form-horizontal" action="LogIn" method="POST">
        <fieldset>
          <div id="legend">
              <legend class="">Log In</legend>

                <?php if(!empty($message)): ?>
                    <p><?php echo e($message); ?></p>
                <?php endif; ?>
          </div>
          <div class="control-group form-group">
          <!-- Username -->
            <label class="control-label"  for="username">Email</label>
            <div class="controls">
                <input type="text" id="username" name="usermail" placeholder="" class="input-xlarge">
            </div>
          </div>
 
          <div class="control-group form-group">
            <!-- Password-->
          <label class="control-label" for="password">Password</label>
            <div class="controls">
              <input type="password" id="password" name="password" placeholder="" class="input-xlarge">
            </div>
          </div>
          <br>
          <div class="control-group form-group">
            <!-- Button -->
            <div class="controls">
              <button class="btn btn-success">Log In</button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>

    
    <hr>

        <!-- Footer -->

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
